body.light {
  --color-main: hsl(0, 0%, 97%);
  --color-secondary: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 20%);
  --color-shadow: hsl(0, 0%, 27%);

  --btn-position: 0 8px;
}

body.dark {
  --color-main: hsl(0, 0%, 20%);
  --color-secondary: hsl(0, 0%, 27%);
  --color-text: hsl(0, 0%, 95%);
  --color-shadow: hsl(0, 0%, 60%);

  --btn-position: 0 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-main);
  color: var(--color-text);
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;

  transition: 0.2s;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

header {
  background-color: var(--color-secondary);
  margin-bottom: 32px;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px;
  max-width: 1280px;
}

header button {
  background-color: var(--color-text);
  border: solid 4px var(--color-secondary);
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  outline-width: 5px;
  position: relative;
  width: 60px;
}

.icon {
  background-color: var(--color-secondary);
  border-radius: 100%;
  content: "";
  display: block;
  height: 20px;
  margin: var(--btn-position);
  position: relative;
  width: 20px;

  transition: 0.3s;
}

.filters {
  display: none;
}

.filters.active {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#regionSelect {
  border: 1px solid var(--color-text);
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 15px 30px;
  box-shadow: 0px 0px 10px -5px var(--color-shadow);
}

#countryNameInput {
  border: 1px solid var(--color-text);
  background-color: var(--color-secondary);
  box-shadow: 0px 0px 10px -5px var(--color-shadow);
  padding: 15px 30px;
}

#countryNameInput::placeholder {
  color: var(--color-text);
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px;
  list-style: none;
}

li {
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0px 10px 10px -8px var(--color-shadow);
  overflow: hidden;
}

li a {
  text-decoration: none;
  color: var(--color-text);
}

li img {
  aspect-ratio: 160/98;
  width: 100%;
}

.info-container {
  padding: 30px 20px;
}

.country-name {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media only screen and (max-width: 400px) {
  ul {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.detail-button {
  background: transparent;
  box-shadow: 0 0 10px -5px var(--color-shadow);
  border: 1px solid var(--color-text);
  border-radius: 5px;
  color: var(--color-text);
  display: inline-block;
  padding: 5px 30px;
  margin: 5px 10px;
  text-decoration: none;
}

.detail-button:first-child {
  margin: 0;
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.detail-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-name {
  grid-column-start: 1;
  grid-column-end: 3;
}

.border-countries-container {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (max-width: 1000px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .detail-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .detail-content {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media only screen and (max-width: 400px) {
  ul {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --color-main: hsl(0, 0%, 20%);
    --color-secondary: hsl(0, 0%, 27%);
    --color-text: hsl(0, 0%, 95%);
    --color-shadow: hsl(0, 0%, 60%);

    --btn-position: 0 25px;
  }
}
